version: '3.8'
services:
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  backend:
    build: .
    command: node server.js
    volumes:
      - .:/app
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/gametracker
    depends_on:
      - mongo
volumes:
  mongo-data:
